<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingApp"
        tools:targetApi="31">
        <activity
            android:name=".UserSideofThings.UserGuide3"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.UserGuide2"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.UserGuide1"
            android:exported="false"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true"/>



        <activity
            android:name=".ACResultsChart"
            android:exported="true" />
        <activity
            android:name=".ECResultsChart"
            android:exported="true" />
        <activity
            android:name=".BODResultsChart"
            android:exported="true" />
        <activity
            android:name=".UserSideofThings.verifycandidacydone"
            android:exported="false" />
        <activity
            android:name=".AdminSideofThings.ReviewContactus"
            android:exported="false" />
        <activity
            android:name=".AdminSideofThings.Mail"
            android:exported="false" />
        <activity
            android:name=".AdminSideofThings.ControlPage"
            android:exported="true"/>

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".AdminSideofThings.AdminConfirmReset"
            android:exported="false" />

        <activity
            android:name=".UserSideofThings.CandidacyFormConfirm"
            android:exported="false" />


        <activity
        android:name=".AdminSideofThings.ECDeleteConfirm"
        android:exported="false" />

        <activity
            android:name=".AdminSideofThings.BODDeleteConfirm"
            android:exported="false" />

        <activity
            android:name=".AdminSideofThings.ACDeleteConfirm"
            android:exported="false" />


        <activity
            android:name=".AdminSideofThings.ChartResults"
            android:exported="false" />
        <activity
            android:name=".AdminSideofThings.ACEditCandidate"
            android:exported="true" />
        <activity
            android:name=".AdminSideofThings.BODEditCandidate"
            android:exported="true" >

        </activity>
        <activity
            android:name=".AdminSideofThings.ECEditCandidate"
            android:exported="true" />
        <activity
            android:name=".AdminSideofThings.ReviewCandidates"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.Review"
            android:exported="false"
            android:theme="@style/Theme.VotingApp.CustomTheme" />
        <activity
            android:name=".AdminSideofThings.BODAcandidates"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminSideofThings.ECAcandidates"
            android:exported="true" />
        <activity
            android:name=".AdminSideofThings.ACAcandidates"
            android:exported="true" />
        <activity
            android:name=".AdminSideofThings.AdminCandidates"
            android:exported="false" />
        <activity
            android:name=".AdminSideofThings.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".VotingGuidelines"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.ContactUs"
            android:exported="true" />

        <activity
            android:name=".UserSideofThings.BODReview"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.ECReview"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.UserHome"
            android:exported="false" />
        <activity
            android:name=".CandidacyForm"
            android:exported="false"/>
        <activity
            android:name=".AdminSideofThings.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSideofThings.AdminsEmployees"
            android:exported="false" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".AdminSideofThings.Register"
            android:exported="true"/>


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        <activity
            android:name=".Login"
            android:exported="true"/>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserSideofThings.VotePage"
            android:exported="false" />
        <activity
            android:name=".OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.BODvotepage"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.ECvotepage"
            android:exported="false" />
        <activity
            android:name=".UserSideofThings.ACvotepage"
            android:exported="true">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>
    </application>

</manifest>